p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.exercise {
  background-color: #C4EFE4;
  padding:2em;
  display:block;
  min-height: 100px;
  margin: 0 2em 2em 1em;
  background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
  box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
  transform: rotate(1deg);
  transform: skew(-.05deg,.05deg);
}
