p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.exercise {
  padding: 0.15em 1em 1em 4em;
  margin-bottom: 10px;
  background: #eec275;
  position:relative;
  margin: 0 1em 1em 1em;
  background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
  box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
  transform: rotate(1deg);
  transform: skew(-.05deg,.05deg);
  border-radius: 25px
}
.exercise:before {
  content: "\f14b";
  font-family: FontAwesome;
  left:10px;
  right:10px;
  position:absolute;
  top:17px;
  font-size: 45px;
}

.objectives {
  padding: 0.15em 1em 1em 4em;
  margin-bottom: 10px;
  background: #daee84;
  position:relative;
  margin: 0 1em 1em 1em;
  background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
  box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
  transform: rotate(1deg);
  transform: skew(-.05deg,.05deg);
  border-radius: 25px
}
.objectives:before {
  content: "\f002";
  font-family: FontAwesome;
  left:10px;
  right:10px;
  position:absolute;
  top:17px;
  font-size: 45px;
}

.solution {
  padding: 0.15em 1em 1em 4em;
  margin-bottom: 10px;
  background: #D7C9AA;
  position:relative;
  margin: 0 1em 1em 1em;
  background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
  box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
  transform: rotate(1deg);
  transform: skew(-.05deg,.05deg);
  border-radius: 25px
}
.solution:before {
  content: "\f13e";
  font-family: FontAwesome;
  left:10px;
  right:10px;
  position:absolute;
  top:17px;
  font-size: 45px;
}

.prereq {
  padding: 0.15em 1em 1em 4em;
  margin-bottom: 10px;
  background: #9cd6dc;
  position:relative;
  margin: 0 1em 1em 1em;
  background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
  box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
  transform: rotate(1deg);
  transform: skew(-.05deg,.05deg);
  border-radius: 25px
}
.prereq:before {
  content: "\f013";
  font-family: FontAwesome;
  left:10px;
  right:10px;
  position:absolute;
  top:17px;
  font-size: 45px;
}

.warning {
  padding: 0.15em 1em 1em 4em;
  margin-bottom: 10px;
  background: #F5e74e;
  position:relative;
  margin: 0 1em 1em 1em;
  background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
  box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
  transform: rotate(1deg);
  transform: skew(-.05deg,.05deg);
  border-radius: 25px
}
.warning:before {
  content: "\f071";
  font-family: FontAwesome;
  left:10px;
  right:10px;
  position:absolute;
  top:17px;
  font-size: 45px;
}

.tip {
  padding: 0.15em 1em 1em 4em;
  margin-bottom: 10px;
  background: #84c77a;
  position:relative;
  margin: 0 1em 1em 1em;
  background: linear-gradient(top, rgba(0,0,0,.05), rgba(0,0,0,.25));
  box-shadow: 5px 5px 10px -2px rgba(33,33,33,.3);
  transform: rotate(1deg);
  transform: skew(-.05deg,.05deg);
  border-radius: 25px
}
.tip:before {
  content: "\f164";
  font-family: FontAwesome;
  left:10px;
  right:10px;
  position:absolute;
  top:17px;
  font-size: 45px;
}